body {
    background-color: #0d1117;
    font-family: Verdana, sans-serif;
    color: #fff; /* Couleur de texte blanche */
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

h1{
    color: rgb(30, 110, 110);
}

h2 {
    text-align: center;
    color: #000000; /* Couleur du titre */
}

h5{
    color: rgb(30, 110, 110);
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

.border-start {
    border-left: 2px solid #000; /* Adjust the width and color of the border as needed */
    padding-left: 20px; /* Adjust the padding as needed */
}

.carousel-container {
    color: #0d1117; /* Couleur de fond du carrousel */
    background-color: #262f3d; /* Couleur du texte */

}

.carousel-caption h1,
.carousel-caption p,
.carousel-caption a {
    color: #ffffff; /* Couleur du texte dans la légende, les paragraphes et les liens */
}

.commands_container {
    width: 60%; /* Augmentation de la largeur du conteneur */
    margin: 20px auto; /* Augmentation de la marge supérieure */
    border: 3px solid #000000; /* Couleur de bordure violette */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Augmentation de l'espacement intérieur */
    
}

.search {
    border-color: transparent; /* Suppression de la bordure */
    color: #fff;
    background-color: #000000; /* Couleur de fond violette */
}

.search:hover {
    background-color: #000000; /* Couleur de fond violette plus foncée au survol */
}

.section_title {
    text-align: center;
    font-weight: bold;
    color: #000000; /* Couleur du titre */
}

li {
    display: inline-block;
    margin: 5px; /* Espacement entre les éléments de liste */
}

label {
    font-size: 16px; /* Taille de police légèrement augmentée */
    color: #000000; /* Couleur du texte */
}

a {
    text-decoration: none;
    color: #ffffff; /* Couleur des liens */
}

.command-buttons {
    width: 100%; /* Largeur à 100% pour occuper tout l'espace disponible */
    max-width: 500px; /* Largeur maximale pour éviter que les boutons ne deviennent trop larges */
    margin: 10px auto; /* Marge centrée */
}

hr {
    height: 3px; /* Hauteur de la ligne de séparation réduite */
    background-color: #ffffff; /* Couleur de ligne violette */
    border: none; /* Suppression de la bordure */
}

img {
    display: block;
    margin: 0 auto; /* Centrage horizontal des images */
}

footer {
    padding-top: 20px; /* Augmentation de la marge supérieure */
    width: 60%;
    margin: 20px auto; /* Marge centrée */
    border: 3px solid #ffffff; /* Couleur de bordure violette */
    border-radius: 10px; /* Coins arrondis */
    font-weight: lighter;
    text-align: center;
    color: #ffffff; /* Couleur du texte */
}

.in-text-link {
    text-decoration: none;
    color: #000000; /* Couleur des liens */
}

.in-text-link:hover {
    color: #000000; /* Couleur des liens plus foncée au survol */
}
